<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Psns.Common.Build.GithubTemplate" version="1.0.0.6" targetFramework="net45" />
  <package id="Psns.Common.SystemExtensions" version="2018.4.4.1" targetFramework="net45" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="net45" />
</packages>