<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net452" />
  <package id="CSharpFunctionalExtensions" version="1.6.2" targetFramework="net452" />
  <package id="LanguageExt.Core" version="1.9.4" targetFramework="net452" />
  <package id="Moq" version="4.5.23" targetFramework="net452" />
  <package id="NUnit" version="3.5.0" targetFramework="net45" />
  <package id="NUnit3TestAdapter" version="3.5.0" targetFramework="net45" />
  <package id="System.Reactive.Core" version="3.0.0" targetFramework="net452" />
  <package id="System.Reactive.Interfaces" version="3.0.0" targetFramework="net452" />
  <package id="System.Reactive.Linq" version="3.0.0" targetFramework="net452" />
  <package id="System.Reactive.PlatformServices" version="3.0.0" targetFramework="net452" />
</packages>